
/* background color for top nav */
.topnav 
{
    background-color: rgb(255, 255, 255);
}
  /* Style  links inside the nav bar */
  .topnav a 
  {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #google_translate_element{
    position:absolute;
float:left;
size:25%;
  }
  .topcontent
  {
    font-size: 25px;
    text-align: center;
  }
  /* Change the color of links on hover */
  .topnav a:hover 
  {
    background-color:rgb(0, 0, 0);
    color: rgb(252, 250, 250);
  }
  /* Add a color to the active/current link */
  .topnav a.active 
  {
    background-color:rgb(72, 255, 0);
    color: rgb(0, 0, 0);
  }
    /*position & size header text*/
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-family:'Times New Roman', Times, serif;
  }
  .button ul
{
	top: 0;
	width: 125px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:yellow;
	float: right;
}

.dropbtn {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 14.5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(72, 255, 0);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}

    /*position content of page & size display*/

  }
  @media (min-width: 100px)
   {
  /*Style content*/
  .container
  {
    /*max-width: 6000px;*/
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	
  }
  .container h4
  {
    text-align: center;
  }
  .container h5
  {
    text-align: center;
  }
  .container p
  {
    text-align: center;
    padding: 10px;
  }
  /*set sizing & colour of body*/
  body
	{
		width: auto;
		height: auto;
    margin: 8px;
	}
  }
  /*Hide audio display from screen*/
	audio 
  { 
    display:none;
  }
/*set sizing, alignment & colour of footer*/
.footer 
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    clear: both;
    overflow: auto;
  }
/*Size h6 in footer*/
.footer h6
  {
    font-size: 60%;
  }
/* Style inputs, select elements and textareas */
input[type=text], select, textarea
  {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  }
/* Style the label to display next to the inputs */
label 
  {
  padding: 12px 12px 12px 0;
  display: inline-block;
  }
/* Style the submit button */
input[type=submit] 
  {
  background-color: #83087d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  }
/* Floating column for labels: 25% width */
.col-25 
  {
  float: left;
  width: 25%;
  margin-top: 6px;
  }
/* Floating column for inputs: 75% width */
.col-75 
  {
  float: left;
  width: 75%;
  margin-top: 6px;
  }
/* Clear floats after the columns */
.row:after 
  {
  content: "";
  display: table;
  clear: both;
  }
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
  {
  .col-25, .col-75, input[type=submit] 
  {
    width: 100%;
    margin-top: 0;
  }
  }
/* Split the screen in half */
.split 
  {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 100;
  overflow-x: hidden;
  padding-top: 20px;
  }
/* Control the left side */
.left 
  {
  left: 0;
  background-color: rgb(255, 255, 255);
  }
/* Control the right side */
.right 
  {
  right: 0;
  background-color: rgb(0, 0, 0);
  }
/* option for content to be centered horizontally and vertically */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered h6
{
  color: rgb(255, 255, 255);
}
.centered p
{
  color: gold;
}
.centered h4
{
  color: rgb(255, 255, 255);
}
/* Style the image inside the centered container*/
.centered img 
{
  width: 654px;
  position: relative;
}
.spacer
{
  margin-bottom: 110px; /* how high is your footer */
  visibility: hidden; 
}
/* Popup container */
.popup 
{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext 
{
  visibility: hidden;
  width: 160px;
  background-color:gold;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* Popup arrow */
.popup .popuptext::after 
{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show 
{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}
/* Left column */
.leftcolumn 
{
  float: left;
  width: 75%;
}
/* Right column */
.rightcolumn
{
  float: left;
  width: 25%;
  padding-left: 20px;
}
/* Photos */
.Photos img
{
  width: 100%;
  padding: 20px;
}
/* Add a card effect for articles */
.card 
{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
/* Clear floats after the columns */
.row:after 
{
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) 
{
  .leftcolumn, .rightcolumn 
  {
    width: 100%;
    padding: 0;
  }
}
/* styles applied to all views */
p {
  font-size: 1rem;
}

/* styles applied to viewports
   with a width between 900px and 1200px */
@media (min-width: 900px) and (max-width: 1200px) {

  p {
    font-size: 1.5rem;
  }

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.topcontent h4
{
  text-align: center;
}
	
legend
    {
        font-size: 2em;
        padding: 0 12px;
        font-weight: 900;
        background-color: #F9F9F9;
    }

fieldset 
    {
        margin: 12px 12px 18px;
        border: 1px solid #000000;
        color: #000000;
    }
td{
    text-align: ;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #000000;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.container .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: yellow;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(72, 255, 0);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
.columns 
{
  float: left;
  width: 33.3%;
  padding: 8px;
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}
.price .grey {
  background-color: #eee;
  font-size: 20px;
}
.subutton {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
}
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
/* Donations Page and Donation Form */

.donation_text-container{
  min-width:auto;
  width:48%;
  float:left;
  height: 1000px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin-top: 30px;
}
.donation_text-box {
  float:right;
	width: 390px;
	height: 456px;
	background-color:black;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
  color: white;
}
.donation-container {
  min-width:auto;
  width:48%;
  float:right;
	height: 1000px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
}

.donation-box {
  float:left;
	width: 390px;
	height: 456px;
	background-color: #F5F5F5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.donation-box .title {
	background-color: yellow;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: black;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
}

.donation-box .donate-button {
	background-color: yellow;
	width: 100%;
	color: black;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 60px;
	left: 15px;
}

.donation-box .fields input {
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: #5C5C5C;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cdcdcd;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cdcdcd;
   font-size: 15px; 
}

:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
	right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: gray;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: #393939;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 96px;
}

.switch {
  position: absolute;
  top: 220px;
  left: 15px;
  margin: 20px auto;
  height: 35px;
  width: 57.5%;
  background: rgb(163, 162, 162);
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 46%;
  line-height: 28px;
  font-size: 14px;
  color: #5C5C5C;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 11px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-color: yellow;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.checkboxes {
	position: absolute;
	top: 272px;
	left:36px;
}

.checkboxes label {
	position: relative;
	top: -1px;
	font-size: 12px;
	color: gray;
}

.checkbox {
	-webkit-appearance:checkbox;
	background-color: #cecccc;
	border: 4px solid rgb(72, 255, 0);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.checkbox:active, .checkbox:checked:active {
	
}

.checkbox:checked {
	background-color: yellow;
	border: 1px solid yellow;
	color: white;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: rgb(17, 168, 67);
}

.confirm {
	display:none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}

#pagecaption {

  text-align: center; size: 20px;
  font-family: sans-serif; size: 10px; color: white;
  word-spacing: 5px;
  padding: 10px;
  background-color: black;

}

#carouselCaptions {
text-shadow: #1b1313; stroke: opacity 5px;;
font-weight: bolder;
font-style: italic;
font-size: 10px;
font-family: sans-serif;


}
